* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 50px;
}
#name {
    font-family: "Sofia", sans-serif;
    font-size:30px;
    text-shadow: 3px 3px 3px white;
    font-weight: 900;
}
#navlist {
    font-weight: 600;
}
.card-img-top {
    width: 100%;
    height:250px;
    object-fit: contain;
}
#brands {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}
#brands:hover {
    background-color: #ffffff;
    font-weight: 900;
}
#brand {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    
}
#brand:hover {
    background-color: #cccccc;
    font-weight: 900;
}
#Topbrand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.mobiles {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 30px;
    transition: border-shadow 2s;
}
.mobiles:hover {
    box-shadow: 5px 10px 8px 10px #bfbfbf;
    transition: border-shadow 12s;
}
.mob{
    font-weight: 0;
    transition: font-weight 2s;
}
.mob:hover {
    font-weight: 900;
}
.pricestrike {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
.product_price {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
.product_offer {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}
.card-body {
    font-family: 'Quicksand', sans-serif;

}
.card-title {
    font-weight: 600;
}
#card {
    height: 600px;
}
#card:hover{
    box-shadow: 5px 8px 8px 8px #908c8c;
    border: none;
}
.delivery {
    font-family: 'Quicksand', sans-serif;
}
.specs1 {
    margin-left: 75px;
}
.prspecs{
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}
.sales {
    font-size: 20px;
}
.card_image-top{
    height: 300px;
    width: 100%;
}
.all_product {
    font-family: 'Quicksand', sans-serif;
}
.card-img-top {
    height: 400px;
}
#product_view {
    height: 500px;
}
#view_reated_image{
    box-shadow: 2px 0px 0px 0px #888888;
    height: 200px;
    width: 300px;
    object-fit: contain;

}
.view_images {
    height: 500px;
    width: 400px;
    box-shadow: 4px 4px 4px 4px #888888;
    object-fit: contain;
}
#product_title{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}
.brand_models{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 18px;
}
.brand_body{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
.price {
    font-size:25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}
.price1 {
    font-size: 30px;
    font-weight: 500;
}
.mrp{
    font-size: 17px;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
}
.offer {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}
.accordion-button {
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
}
.emi{
    font-size: 17px;
    font-weight: 500;
}
.EMI{
    font-size: 17px;
    font-weight: 300;
}
#available {
    font-weight: 600;
    font-family: 'Manrope', sans-serif;

}
.product_about_1 {
    font-family: 'Maven Pro', sans-serif;
}
.category{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.button-view{
    height: 100px;
    box-shadow: 2px 2px 2px 2px #888888;

}
.cart_number{
    font-weight: 900;
    color: #8cfd0b;
    font-size: 14px;
}
.cart_img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}
.title1 {
    font-weight: 600;
    font-size: 18px;
}
.title2 {
    font-weight: 700;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}
.price1 {
    font-weight: 900;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}
.shopping_cart {
    font-size: 26px;
    font-weight: 900;
    font-family: 'Manrope', sans-serif;
}
.subtotal {
    margin-left: 650px;
}
.buttonbtn {
    margin-left: 130px;
}
.form-check-label4 {
    font-size: 14px;
}
.thead {
    font-family: 'Manrope', sans-serif;
}
.checklist1{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}
.emptyimage {
    height: 150px;
    width: 150px;
    border-radius: 30px;
    padding: 0px;
    margin-left: 100px;
}
.container3 {
    padding-left: 300px;
}
.releted_images1 {
    height: 140px;
    width: 140px;
}
.product_name {
    font-size: 16px;
}
.deliveryicon{
    height: 100px;
    width: 100px;
}
#nav_top{
    color: black;
    font-size: 20px;
}
.header10{
    color: black;
    font-size: 20px;
    transition: border-shadow 2s;
}
.header10:hover {
    text-shadow: 0 0 3px hwb(4 0% 66% / 0.993);
}
.carousel-inner{
    height: 430px;
    object-fit: contain;
}
.banner_images {
    object-fit: contain;
}
.carousel-item {
    object-fit: contain;
}
.title_products {
    font-size: 22px;
    font-family: 'Barlow', sans-serif;
    margin-left: 10px;
}
#searching {
    object-fit: contain;
}
#input {
    color: white;
}
.searchproductheader{
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}
body {
    overflow-x:hidden;
}
.username_name {
    font-size: 30px;
}